
body {
  margin: 0;
}

#nightsky {
  background: linear-gradient(to bottom, #000000 0%,#124ded 96%,#527dea 100%);
  width: 100vw;
  height: 100vh;
  position: relative;

  overflow: hidden;
}

#canvas{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
}

.snowflake {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 100%;
  left: 0px;
  top: 0px;

  box-shadow: 0px 0px 15px white;
}
